<button class="btn btn-outline-primary btn-sm float-left" (click)="open(mymodal)"><i class="bi bi-gear"></i></button>




<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{oldCostumer.name}} módosítása</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="costumer">

            <input type="text" class="form-control mt-2" id="name" placeholder="{{oldCostumer.name}}"
                value="{{oldCostumer.name}}" formControlName="name" required>
            <div class="text-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <small *ngIf="name?.errors?.required">A nevet kötelező megadni!</small>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <input type="number" class="form-control mt-2" id="zip" placeholder="{{oldCostumer.zip}}"
                        value="{{oldCostumer.zip}}" formControlName="zip" required>
                    <div class="text-danger" *ngIf="zip?.invalid && (zip?.dirty || zip?.touched)">
                        <small *ngIf="zip?.errors?.required">Az irányítószámot kötelező megadni!</small>
                        <small *ngIf="zip?.errors?.min || zip?.errors?.max">1000 és 9985 közötti számot adj
                            meg!</small>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control mt-2" id="city" placeholder="{{oldCostumer.city}}"
                        value="{{oldCostumer.city}}" formControlName="city" required>
                    <div class="text-danger" *ngIf="city?.invalid && (city?.dirty || city?.touched)">
                        <small *ngIf="city?.errors?.required">A várost kötelező megadni!</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">

                    <input type="text" class="form-control mt-2" id="address1" placeholder="{{oldCostumer.address1}}"
                        value="{{oldCostumer.address1}}" formControlName="address1" required>
                    <div class="text-danger" *ngIf="address1?.invalid && (address1?.dirty || address1?.touched)">
                        <small *ngIf="address1?.errors?.required">Az utcát kötelező megadni!</small>
                    </div>
                </div>
                <div class="col-md-3">

                    <input type="number" class="form-control mt-2" id="address2" placeholder="{{oldCostumer.address2}}"
                        value="{{oldCostumer.address2}}" formControlName="address2" required>
                    <div class="text-danger" *ngIf="address2?.invalid && (address2?.dirty || address2?.touched)">
                        <small *ngIf="address2?.errors?.required">A házszámot kötelező megadni!</small>
                        <small *ngIf="address2?.errors?.min || address2?.errors?.max">1 és 873 közötti számot adj
                            meg!</small>
                        <small *ngIf="telephone?.errors?.pattern">Számot adj
                            meg!</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <select class="form-control mt-2" id="telephonePrefix" formControlName="telephonePrefix" required>
                        <option value="20" [selected]="oldCostumer.telephonePrefix === 20">20</option>
                        <option value="30" [selected]="oldCostumer.telephonePrefix === 30">30</option>
                        <option value="70" [selected]="oldCostumer.telephonePrefix === 70">70</option>
                    </select>
                </div>
                <div class="col-md-9">

                    <input type="text" class="form-control mt-2" id="telephone" placeholder="{{oldCostumer.telephone}}"
                        value="{{oldCostumer.telephone}}" formControlName="telephone">
                    <div class="text-danger" *ngIf="telephone?.invalid && (telephone?.dirty || telephone?.touched)">
                        <small *ngIf="telephone?.errors?.required">A telefonszámot kötelező megadni!</small>
                        <small *ngIf="telephone?.errors?.pattern">"1234567"
                            formátumban add meg a
                            telefonszámot! </small>
                        <small *ngIf="telephone?.errors?.minlength || telephone?.errors?.maxlength">7 db számot adj
                            meg!</small>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!costumer.valid"
            (click)="modal.close('Save click')">Módosítás</button>
    </div>
</ng-template>