/* Hide spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide spinners for Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom {
  width: 5em;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 1 24%;
  width: 15em;
  height: 21em;
}

.card-costumer {
  width: 15em;
  height: 16em;
}

.card-order {
  white-space: pre;
  width: 20em;
  height: 25em;
}

.oven {
  width: 30em;
}

.orderRefresh {
  text-align: center;
  width: 20em;
}
