<div class="row justify-content-center text-center mt-5">
    <div class="md-col-6">
        <button class="btn btn-outline-primary" (click)="open(mymodal)">Pizza hozzáadása <i
                class="bi bi-plus-circle"></i></button>
    </div>
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Új Pizza</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="newPizza">

            <input type="text" class="form-control mt-2" id="name" placeholder="Pizza neve" formControlName="name"
                required>
            <div class="text-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <small *ngIf="name?.errors?.required">A nevet kötelező megadni!</small>
            </div>

            <input type="text" class="form-control mt-2" id="description" placeholder="Összetevők"
                formControlName="description" required>
            <div class="text-danger" *ngIf="description?.invalid && (description?.dirty || description?.touched)">
                <small *ngIf="description?.errors?.required">Az összetevőket kötelező megadni!</small>
            </div>

            <div class="row mt-2 text-center">
                <div class="col-md-4">
                    <label for="size">Méret</label>
                    <select class="form-control" id="size" formControlName="size" required>
                        <option value="32">32</option>
                        <option value="48">48</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="size">Elkészítési idő</label>
                    <select class="form-control" id="preparationTime" formControlName="preparationTime" required>
                        <option value="{{bakeTime}}" [selected]="true">{{bakeTime}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="size">Ár</label>
                    <input type="number" class="form-control" id="price" placeholder="Pizza ára" formControlName="price"
                        required>
                </div>
            </div>
            <div class="row mt-2 text-center">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="text-danger" *ngIf="price?.invalid && (price?.dirty || price?.touched)">
                        <small *ngIf="price?.errors?.required">Az árat kötelező megadni!</small>
                        <small *ngIf="price?.errors?.min || price?.errors?.max">1000 és 5000 közötti számot adj
                            meg!</small>
                    </div>
                </div>
            </div>


            <!--
            <button type="submit" class="btn btn-primary mt-2" [disabled]="!newPizza.valid" (click)="addPizza()">Új
                Pizza hozzáadása</button>
                -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!newPizza.valid"
            (click)="modal.close('Save click')">Felvisz</button>
    </div>
</ng-template>